.footer {
    background-color: #1A1919;
    color: white;        
    padding: 100px;
    
}

.footer ul {
    list-style-type: none;
    margin: 0;
    -webkit-margin-start: 0;
    padding: 0;
}

.eth-logo {
    background-image: url('../images/ethlogo.png');
   background-size: contain;
    width: 180px;
    background-repeat: no-repeat;      
}

.metamask-logo {
    background-image: url('../images/ethlogo.png');
    background-size: contain;
    width: 180px;
    background-repeat: no-repeat;
}

.footer-container {
    display: flex;
    justify-content: space-between;    
}